body{
    background-color: #f5f7ff;
    color: #333;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo{
    font-size: 24px;
    font-weight: 700;
    color: #007bff;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 25px; 
}

.nav-links a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #007bff;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px ;
}

.hero-text{
    max-width: 50%;
}

.hero-text h1{
    font-size: 48px;
    color: #222;
}

.hero-text h1 span{
    color: #007bff;
}

.hero-text h3{
   font-size: 24px;
   color: #555;
   margin: 10px 0;
}

.hero-text p{
    font-size: 16px;
    color: #666;
    margin-bottom: 25px;
    line-height: 1.6;
}

.hero-image img{
width: 350px;
animation: float 3s ease-in-out infinite;
}

.hero-text{
    max-width: 100%;
}

.hero-image img{
    width: 450px;
}

.projects-grid{
display: grid;
grid-template-columns: repeat(auto-fi);
gap: 30px;
max-width: 1000px;
margin: 0 auto;
}

.projects-card{
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    transition: transform 0.3s,box-shadow 0.3s;
}

.projects-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.project-card img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 15px;
    margin-right: 5px;
}

.project-card h3{
    color: #007bff;
    margin-bottom: 10px;
}

.projects-cards p{
    color: #555;
    font-size: 15px;
    line-height: 1.5;
}


/* Contact Section */
.contact h2 {
  font-size: 2em;
  margin: 40px 0 20px;
}

.contact-boxes {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.box {
  background: #fff;
  width: 280px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.box:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.box img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.box h3 {
  font-size: 20px;
  margin: 10px 0;
}

.box p {
  color: #555;
  font-size: 15px;
  margin: 5px 0;
}

/* Footer Section */
footer {
  background-color: #1e3c72;
  color: white;
  padding: 30px 0;
  margin-top: 40px;
}

footer h2 {
  margin: 5px 0;
}

footer p {
  margin: 5px 0;
}

.socials {
  margin: 10px 0;
}

.socials img {
  width: 30px;
  height: 30px;
  margin: 0 8px;
  transition: 0.3s ease;
}

.socials img:hover {
  transform: scale(1.1);
}

.copy {
  font-size: 14px;
  opacity: 0.8;
  margin-top: 10px;
}